body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    margin-left: 2em;
    margin-right: 2em;
}
h2 {
    color: teal;
}
label {
    float: left;
    width: 6em;
    margin-bottom: 0.5em;
}

input [type= "text"], input [type="password"], input [type="radio"] {
    width: 15em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}
br {
    clear: both;
}
#submit {
    margin-left: 0.5em;
    background-color: blue;
}
table{
    border: 1px solid gray;
    border-collapse: collapse;

}
th, td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    border: 1px solid gray;
    text-align: center;
    padding: .5em;
}
form textarea{
    width: 180px;
    height: 100px;
}